awkward==2.8.8
h5py==3.14.0
legend_pydataobj==1.10.0
manim==0.19.0
matplotlib==3.8.2
numpy==2.3.2
pandas==2.3.2
pygama==2.0.3
pylegendmeta==1.2.4
pytorch_lightning==2.4.0
scikit_learn==1.3.2
scipy==1.16.1
torch==2.4.1
torch_optimizer==0.3.0
tqdm==4.67.1
umap==0.1.1
umap_learn==0.5.7